{% load static %}

        <ul class="nav nav-pills nav-fill" style="background-color: #426f8f; font-family: 'Bell MT'">
            <li class="nav-item">
              <a class="nav-link" href="#" style="color: #d2d2d2;"><i class="bi bi-envelope"></i> info@steck-care.co.uk</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" style="color: #d2d2d2;">Mon-Fri 9:00am to 5:00pm</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" style="color: #d2d2d2;"><i class="bi bi-telephone"></i> 07837626557</a>
            </li>
            <li class="nav-item pagination d-flex">

                  <ul class="pagination">

                    <a class="nav-link pl-1" href="#" style="color: #ffffff;"><i class="bi bi-facebook ms-5"></i></a>
                    <a class="nav-link " href="#" style="color: #ffffff;"><i class="bi bi-twitter"></i></a>
                    <a class="nav-link " href="#" style="color: #ffffff;"><i class="bi bi-youtube me-5"></i></a>

                  </ul>


            </li>

          </ul>


          <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
              <a class="navbar-brand" href="{% url 'home' %}"><img  class="rounded-circle bg-light" src="{% static 'images/logoSupport.jpeg' %}" alt="..." style="width: 90px;"></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" style="font-family: Perpetua" id="navbarScroll">
                <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                  <li>
                    <a class="nav-link active lead" aria-current="page" href="{% url 'home' %}">HOME</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link lead" href="{% url 'about' %}">ABOUT US</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link lead" href="{% url 'mission' %}">MISSION</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link lead" href="{% url 'services' %}">OUR SERVICES</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link lead" href="{% url 'contacts' %}">CONTACTS</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link lead" href="{% url 'jobs' %}">JOBS</a>
                  </li>

                </ul>
                <div class="d-flex" style="font-family: 'Baskerville Old Face'">
                    <button type="submit" class="btn btn btn-outline-success btn-sm border-warning rounded-pill ms-5 me-5">
                        Steck Care Limited
                    </button>
                </div>
              </div>
            </div>
          </nav>