{% load static %}

        <ul class="nav nav-pills nav-fill" style="background-color: #426f8f;">
            <li class="nav-item">
              <a class="nav-link" href="#" style="color: white;"><i class="bi bi-envelope"></i> info@abi-support.co.uk</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" style="color: white;">Mon-Fri 9:00am to 5:00pm</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" style="color: white;"><i class="bi bi-telephone"></i> 07837626557</a>
            </li>
            <li class="nav-item d-flex">
                <a class="nav-link pl-1" href="#" style="color: white;"><i class="bi bi-facebook"></i></a>
                <a class="nav-link" href="#" style="color: white;"><i class="bi bi-twitter"></i></a>
                <a class="nav-link" href="#" style="color: white;"><i class="bi bi-youtube"></i></a>

            </li>

          </ul>


          <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
              <a class="navbar-brand" href="#"><img src="{% static 'images/logo.jpg' %}" alt="..." style="width: 120px;"></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarScroll">
                <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">HOME</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">ABOUT US</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">MISSION</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">OUR SERVICES</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">CONTACTS</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">JOBS</a>
                  </li>

                </ul>
                <div class="d-flex">
                    <button type="submit" class="btn btn btn-outline-success btn-sm border-warning rounded-pill ms-5 me-5">
                        DOWNLOAD APPLICATION FORM
                    </button>
                </div>
              </div>
            </div>
          </nav>