{% load static %}

<!-- Footer -->
<footer class="bg-light text-center mt-3">
  <!-- Grid container -->
  <div class="container p-4">

    <!-- Section: Social media -->
{#    <section class="mb-4">#}
{#      <!-- Facebook -->#}
{#      <a class="btn btn-primary btn-float m-1" style="background-color: #3b5998" href="#!" role="button"><i class="fa fa-facebook-f"></i></a>#}
{##}
{#      <!-- Twitter -->#}
{#      <a class="btn btn-primary btn-floating m-1" style="background-color: #55acee" href="#!" role="button"><i class="fa fa-twitter"></i></a>#}
{##}
{##}
{#      <!-- Instagram -->#}
{#      <a class="btn btn-primary btn-floating m-1" style="background-color: #ac2bac" href="#!" role="button"><i class="fa fa-instagram"></i></a>#}
{##}
{#    </section>#}
    <!-- Section: Social media -->


    <!-- Section: Form -->
    <section class="">
      <form action="">
        <!--Grid row-->
        <div class="row d-flex justify-content-center">
          <!--Grid column-->
{#          <div class="col-auto">#}
{#            <h3  style="font-family: 'Bodoni MT'; color: #00363a;">#}
{#              <strong>Now Hiring</strong>#}
{#            </h3>#}
{#          </div>#}
          <!--Grid column-->

{#          <!--Grid column-->#}
{#          <div class="col-md-5 col-12">#}
{#            <!-- Email input -->#}
{#            <div class="form-outline mb-3">#}
{##}
{#                <input type="email" class="form-control rounded-pill border-warning" placeholder="Your email">#}
{#            </div>#}
{#          </div>#}
          <!--Grid column-->

          <!--Grid column-->
{#          <div class="col-auto">#}
{##}
{##}
{#            <!-- Submit button -->#}
{#            <button type="submit" class="btn btn btn-outline-success btn-med border-warning rounded-pill">#}
{#                            Submit#}
{#                        </button>#}
{#          </div>#}
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </form>
    </section>
    <!-- Section: Form -->



    <!-- Section: Links -->
    <section class=" mt-5">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-md-0">
          <h5 class="text-uppercase">MENU</h5>

          <ul class="list-unstyled mb-0" style="font-family: Perpetua">
            <li>
              <a class="nav-link" aria-current="page" href="{% url 'home' %}">HOME</a>
            </li>
            <li>
              <a class="nav-link " href="{% url 'about' %}">ABOUT US</a>
            </li>
            <li>
              <a class="nav-link " href="{% url 'services' %}">OUR SERVICES</a>
            </li>
            <li>
             <a class="nav-link " href="{% url 'contacts' %}">CONTACTS</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6  mb-md-0">
          <h5 class="text-uppercase">Why Us</h5>

          <ul class="list-unstyled mb-0" style="font-family: Perpetua">
            <li>
             <a class="nav-link" href="{% url 'mission' %}">MISSION</a>
            </li>
            <li>
              <a class="nav-link" href="{% url 'jobs' %}">JOBS</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->


        <!--Grid column-->
        <div class="col-lg-6 col-md-6 mb-md-0">
                <!-- Section: Text -->
                <section class="mb-4">
                  <p class="lead">
                    We aim to help improve quality of life and promote health and wellbeing.
                      We are compassionate about having a friendly approach to care that is provided
                      to our service users. Email:info@steck-care.co.uk

                  </p>
                </section>
                <!-- Section: Text -->

        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </section>
    <!-- Section: Links -->

  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    © 2020 Copyright: Steck Care Limited

  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->