{% extends 'base.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">

          <div class="container">
                    <div class="row" >
                        <div class="thumbnail text-center">
                            <img src="{% static 'images/old3.jpeg' %}" class="img-fluid " alt="...">
                            <div class="caption">
                                <h1 class="align-middle ms-3 me-3">
                                   About US
                                </h1>
                            </div>
                        </div>
                    </div>
                </div>


        <div class="container bg-light mt-3">
            <div class="row justify-content-center">
                <h1 class="text-center display-5 mt-3" style="color: #426f8f;">About Steck Care Limited</h1>
                <div class="col-8">
                <p class="lead text-center" >Our mission is to assist every Service user with improving their quality of life, encouraging independence and allowing them to be comfortable with excellent care in their own home by providing first-class person-centred care with respect compassion of the highest ethical standards.</p><br>
                <p class="lead text-center">To ensure that each service user’s values and needs are respected in matters of religion, culture, race or ethnic origin, Marital status, political affiliation, parenthood, disabilities and impairments. To respect the individuality of the service, provide a service that fully satisfies the needs and expectations of the individuals in their own home. To actively seek and value the contribution made by informal carers, families and relevant multi-disciplinary team that are involved in the care planning. To respond positively to feedback from our service users, their families and carer, other health and social care professionals and our staff.</p><br>
                <p class="lead text-center">To manage the care service efficiently and effectively, to make the best use of resources and to maximise the best value for both the provider and the service user. To undertake a risk assessment of environment Health and Safety hazards within the service user home and ensure that any hazards are reported to the service user/purchaser. To ensure that all service users are provide with a written information on the organisation’s procedure for handling complaints, comments, complements and how to use it. To ensure all staff are up to date with in house and external training.</p>
                </div>
                
            </div>
        </div>


        <div class="container mt-3">
            <div class="jumbotron text-center">
                <h1 class="display-4">Care Is Easier Than Ever!</h1>
                <p class="lead">Let us treat your loved ones like family.</p>
                <hr class="my-4">
                <p>Call us directly — 123-456-7890</p>
              </div>

        </div>


        <div class='container mb-3'>
            <div class='text-center'>
            <h1 class='text-dark text-center mt-1 mb-1 pt-4 pb-4 fw-lighter'>How We Care</h1>
            </div>


            <div class="row justify-content-center">
                <div class="col-md-4 col-sm-4">
                    <img src="{% static 'images/old1.jpg' %}" class="img-fluid h-100" alt="...">
                </div>
                <div class="col-md-8">
                    <h2 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color:brown;">Conditions We Support</h2>
                    <p class="lead">All our caregivers are thoroughly interviewed, trained, licensed, bonded and insured</p>

                    <h5>Dementia Conditions</h5>
                    <div class="progress">
                        <div class="progress-bar bg-success" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">90%</div>
                      </div><br>
                      <h5>Domiciliary Care</h5>
                      <div class="progress">
                        <div class="progress-bar bg-info" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">75%</div>
                      </div><br>
                      <h5>Personal Care</h5>
                      <div class="progress">
                        <div class="progress-bar bg-warning" role="progressbar" style="width: 72%" aria-valuenow="72" aria-valuemin="0" aria-valuemax="100">72%</div>
                      </div>
                    
                </div>
              </div><hr>
            </div>


             <div class="container mt-5">
                        <div class="row row-cols-1 row-cols-md-3 g-4">


                        <div class="col-md-2">
                            <i class="fa fa-shower fa-4x rounded-circle h-50 w-50 ms-5 mt-3" style="color: #264b5d" aria-hidden="true"></i>
                        </div>
                        <div class="col-md-2 col-sm-2">
                            <h5 class="display-6"
                            style="font-size:medium;
                            font-style:inherit;
                            color: rgb(3, 107, 107);
                            font-weight: 400;">
                            Personal Care and Assistance</h5>
                            <p style="color: grey;"><small>Bathing, restroom activities, incontinence care, grooming, personal hygiene,
                                dressing, walking, etc.</small></p>
                        </div>


                        <div class="col-sm-2">
                            <i class="fa fa-cutlery fa-4x rounded-circle h-50 w-50 ms-5 mt-3" style="color: #264b5d" aria-hidden="true"></i>
                        </div>
                        <div class="col-md-2">
                            <h5 class="display-6"
                            style="font-size:medium;
                            font-style:inherit;
                            color: rgb(3, 107, 107);
                            font-weight: 400;">
                            Living in Care and Overnight Care</h5>
                            <p style="color: grey;"><small>Helping you live the life you want on your own terms etc.</small></p>
                        </div>


                        <div class="col-sm-2">
                            <i class="fa fa-user-md fa-4x rounded-circle h-50 w-50 ms-5 mt-3" style="color: #264b5d" aria-hidden="true"></i>
                        </div>
                        <div class="col-md-2">
                            <h5 class="display-6"
                            style="font-size:medium;
                            font-style:inherit;
                            color: rgb(3, 107, 107);
                            font-weight: 400;">

                            Professional Medication Management</h5>
                            <p style="color: grey;"><small>Reminders, supervision, pill box, organization, daily log, etc.</small></p>
                        </div>


                        <div class="col-sm-2">
                            <i class="fa fa fa-car fa-4x rounded-circle h-50 w-50 ms-5 mt-3" style="color: #264b5d" aria-hidden="true"></i>
                        </div>
                        <div class="col-md-2">
                            <h5 class="display-6"
                            style="font-size:medium;
                            font-style:inherit;
                            color: rgb(3, 107, 107);
                            font-weight: 400;">

                            Mobility aids and Home adaptation</h5>
                            <p style="color: grey;"><small>Schedule planning and assistance (visits, appointments, errands, outings, etc.)</small></p>
                        </div>


                        <div class="col-sm-2">
                            <i class="fa fa-sign-language fa-4x rounded-circle h-50 w-50 ms-5 mt-3" style="color: #264b5d" aria-hidden="true"></i>
                        </div>
                        <div class="col-md-2">
                            <h5 class="display-6"
                            style="font-size:medium;
                            font-style:inherit;
                            color: rgb(3, 107, 107);
                            font-weight: 400;">
                            Domiciliary Care for Elderly Care</h5>
                            <p style="color: grey;"><small>We are here to help with everyday tasks you might
                                struggle with (complete individual care plans, etc.)</small></p>
                        </div>


                        <div class="col-sm-2">
                            <i class="fa fa-balance-scale fa-4x rounded-circle h-50 w-50 ms-5 mt-3" style="color: #264b5d" aria-hidden="true"></i>
                        </div>
                        <div class="col-md-2">
                            <h5 class="display-6"
                            style="font-size:medium;
                            font-style:inherit;
                            color: rgb(3, 107, 107);
                            font-weight: 400;">

                            Support in the Community</h5>
                            <p style="color: grey;"><small>Support to help you stay connected to people you love
                                (We can set you up with Skype, and make sharing pictures easy)</small></p>
                        </div>



                    </div><hr>
                    </div>



            <div class="container">
                    <div class="row" >
                        <div class="thumbnail text-center">
                            <img src="{% static 'images/old6.jpg' %}" class="img-fluid " alt="...">
                            <div class="caption ms-3 me-3" style="color: white">
                                <h1 class="align-middle ">
                                   Benefits of working with us
                                </h1>
                                <p>At Abi-support Ltd we offer an excellent in-house/induction
                                    programme and continuous professional development.
                                    As a member of the team you can expect</p>
                            </div>
                        </div>
                    </div>
                </div>


{% endblock content %}