{% extends 'base.html' %}
{% block content %}

        <div class="container">
            <div class="card bg-dark text-blue">
                <img src="../card3.jpg" class="card-img img-fluid h-50 w-100" alt="...">
                <div class="card-img-overlay" style="margin-top:35% ;" >
                  <h2 class="card-title bg-light">Mission</h2>
                  <p class="card-text bg-light"></p>
                </div>
              </div><hr>
          </div>



            <div class="container bg-light">
            <div class="row justify-content-center">
                <h1 class="text-center display-5" style="color: #426f8f;">MISSION</h1>
                <div class="col-8">
                <p class="lead text-center" >
                    To assist every Service user with improving their quality of life,
                    encouraging independence and
                    allowing them to be comfortable
                    with excellent care in their own home by providing first-class person-centred
                    care with respect compassion of the highest ethical standards.
                </p><br>

                </div>
                <div class="col-6">
                    <h3>Welcome </h3>
                    <p>
                        Abi-Support Limited is based in Oxfordshire,
                        we provide a Bespoke of High Quality and Personal centred care
                        services to the Young Adults, Elderly and Vulnerable people in Oxfordshire.
                        We aim to help improve quality of life and promote health and wellbeing.
                        We are compassionate about having a friendly approach to care that is
                        provided to our service users.

                    </p>

                    <p>
                        The company was founded in 2019 by Michael,
                        Margaret Abioke as we have an in-depth knowledge of the social care system due
                        to working with Elderly care,
                        Mental Health and learning disability.
                        Michael has worked in the armed forces and has a lot of experience in business management.
                    </p>
                </div>
                <div class="col-6">
                    <h3>Values</h3>
                    <p>
                        Respect and professionalism:
                        Treat all people supported by us and all people who work here with respect as all times.
                        Respect individual requirement for privacy and all time and treat all information
                        relating to the person in a confidential manner.
                    </p>
                </div>

            </div>
        </div>


            <div class="container mt-5">
                        <div class="row row-cols-1 row-cols-md-3 g-4">


                        <div class="col-sm-2">
                            <img src="../card1.jpg" class="img-fluid rounded-circle h-50 w-50 ms-5" alt="...">
                        </div>
                        <div class="col-md-2">
                            <h5 class="display-6"
                            style="font-size:medium;
                            font-style:inherit;
                            color: rgb(3, 107, 107);
                            font-weight: 400;">
                            Personal Care and Assistance</h5>
                            <p style="color: grey;"><small>Bathing, restroom activities, incontinence care, grooming, personal hygiene, dressing, walking, etc.</small></p>
                        </div>


                        <div class="col-sm-2">
                            <img src="../card1.jpg" class="img-fluid rounded-circle h-50 w-50 ms-5" alt="...">
                        </div>
                        <div class="col-md-2">
                            <h5 class="display-6"
                            style="font-size:medium;
                            font-style:inherit;
                            color: rgb(3, 107, 107);
                            font-weight: 400;">
                            Living in Care and Overnight Care</h5>
                            <p style="color: grey;"><small>Helping you live the life you want on your own terms etc.</small></p>
                        </div>


                        <div class="col-sm-2">
                            <img src="../card1.jpg" class="img-fluid rounded-circle h-50 w-50 ms-5" alt="...">
                        </div>
                        <div class="col-md-2">
                            <h5 class="display-6"
                            style="font-size:medium;
                            font-style:inherit;
                            color: rgb(3, 107, 107);
                            font-weight: 400;">

                            Professional Medication Management</h5>
                            <p style="color: grey;"><small>Reminders, supervision, pill box, organization, daily log, etc.</small></p>
                        </div>


                        <div class="col-sm-2">
                            <img src="../card1.jpg" class="img-fluid rounded-circle h-50 w-50 ms-5" alt="...">
                        </div>
                        <div class="col-md-2">
                            <h5 class="display-6"
                            style="font-size:medium;
                            font-style:inherit;
                            color: rgb(3, 107, 107);
                            font-weight: 400;">

                            Mobility aids and Home adaptation</h5>
                            <p style="color: grey;"><small>Schedule planning and assistance (visits, appointments, errands, outings, etc.)</small></p>
                        </div>


                        <div class="col-sm-2">
                            <img src="../card1.jpg" class="img-fluid rounded-circle h-50 w-50 ms-5" alt="...">
                        </div>
                        <div class="col-md-2">
                            <h5 class="display-6"
                            style="font-size:medium;
                            font-style:inherit;
                            color: rgb(3, 107, 107);
                            font-weight: 400;">
                            Domiciliary Care for Elderly Care</h5>
                            <p style="color: grey;"><small>We are here to help with everyday tasks you might struggle with (complete individual care plans, etc.)</small></p>
                        </div>


                        <div class="col-sm-2">
                            <img src="../card1.jpg" class="img-fluid rounded-circle h-50 w-50 ms-5" alt="...">
                        </div>
                        <div class="col-md-2">
                            <h5 class="display-6"
                            style="font-size:medium;
                            font-style:inherit;
                            color: rgb(3, 107, 107);
                            font-weight: 400;">

                            Support in the Community</h5>
                            <p style="color: grey;"><small>Support to help you stay connected to people you love (We can set you up with Skype, and make sharing pictures easy)</small></p>
                        </div>



                    </div><hr>
                    </div>


                        <div class="container">
                        <div class="card bg-dark text-blue">
                            <img src="../card3.jpg" class="card-img img-fluid" alt="...">
                            <div class="card-img-overlay" style="margin-top:35% ;" >
                              <h2 class="card-title bg-light">Having a hand to hold allows me to stay in my home</h2>
                              <p class="card-text bg-light">Allow your loved one to maintain their happiness!</p>
                              <button type="submit" class="btn btn btn-outline-light btn-med border-warning rounded-pill ms-5 me-5">
                                    Learn More
                                </button>
                            </div>
                          </div>
                    </div>

{% endblock content %}