{% extends 'base.html' %}
{% load static %}
{% block content %}
        <link rel="stylesheet" href="{% static 'css/index.css' %}">

        <div class="container">
                    <div class="row" >
                        <div class="thumbnail text-center">
                            <img src="{% static 'images/old7.jpg' %}" class="img-fluid " alt="...">
                            <div class="caption">
                                <h1 class="align-middle ms-3 me-3">
                                   Mission
                                </h1>
                            </div>
                        </div>
                    </div>
                </div>



            <div class="container bg-light mt-3">
            <div class="row justify-content-center">
                <h1 class="text-center display-5" style="color: #426f8f;">MISSION</h1>
                <div class="col-8">
                <p class="lead text-center" >
                    To assist every Service user with improving their quality of life,
                    encouraging independence and
                    allowing them to be comfortable
                    with excellent care in their own home by providing first-class person-centred
                    care with respect compassion of the highest ethical standards.
                </p><br>

                </div>
                <div class="row justify-content-center">
                <div class="col-md-4 col-sm-4">
                    <h3 style="color: #264b5d">Welcome </h3>
                    <p style="font-family:'Bell MT'">
                        Steck Care Limited is based in Oxfordshire,
                        we provide a Bespoke of High Quality and Personal centred care
                        services to the Young Adults, Elderly and Vulnerable people in Oxfordshire.
                        We aim to help improve quality of life and promote health and wellbeing.
                        We are compassionate about having a friendly approach to care that is
                        provided to our service users.

                    </p>

                    <p style="font-family:'Bell MT'">
                        The company was founded in 2019 by Albert Steck, as we have an in-depth knowledge of the social care system due
                        to working with Elderly care,
                        Mental Health and learning disability.
                        Michael has worked in the armed forces and has a lot of experience in business management.
                    </p>
                </div>
                <div class="col-md-4 col-sm-4">
                    <h3 style="color: #264b5d">Values</h3>
                    <p style="font-family:'Bell MT'">
                        Respect and professionalism:
                        Treat all people supported by us and all people who work here with respect as all times.
                        Respect individual requirement for privacy and all time and treat all information
                        relating to the person in a confidential manner.
                    </p>
                </div>
                </div>


            </div>
        </div>


                    <div class="container" >
          <div class="row row-cols-1 row-cols-md-5 g-4 mt-2">
            <div class="col">
              <div class="card h-100" >
                    <i class="fa fa-wheelchair mt-3 fa-4x" style="color: rgba(39,70,141,0.72)"></i>
                <div class="card-body">
                  <h5 class="card-title">Personal Care</h5><hr>
                  <p class="card-text">Patients who need an extra level of care.</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <i class="fa fa-medkit mt-3 fa-4x" style="color: rgba(39,70,141,0.72)"></i>
                <div class="card-body">
                  <h5 class="card-title">Emergency Support</h5><hr>
                  <p class="card-text">Our agency offers a broad range of services.</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <i class="fa fa-child mt-3 fa-4x" style="color: rgba(39,70,141,0.72)"></i>
                <div class="card-body">
                  <h5 class="card-title">Dementia Care</h5><hr>
                  <p class="card-text">Our specialists have additional training and skills.</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <i class="fa fa-user-md mt-3 fa-4x" style="color: rgba(39,70,141,0.72)"></i>
                <div class="card-body">
                  <h5 class="card-title">Medication</h5><hr>
                  <p class="card-text">We provide services tailored to meet your needs.</p>
                </div>
              </div>
            </div>

            <div class="col">
                <div class="card h-100">
                  <i class="fa fa-plus-square mt-3 fa-4x" style="color: rgba(39,70,141,0.72)" ></i>
                  <div class="card-body">
                    <h5 class="card-title">Support During holiday</h5><hr>
                    <p class="card-text">Ready to support at anytime through out your holiday.</p>
                  </div>
                </div>
              </div>
          </div>
        </div>
        <hr></div>



                         <div class="container">
                    <div class="row" >
                        <div class="thumbnail text-center">
                            <img src="{% static 'images/old11.jpg' %}" class="img-fluid " alt="...">
                            <div class="caption ms-3 me-3" style="color: white">
                                <h1 class="align-middle ">
                                   Having a hand to hold allows me to stay in my home
                                </h1>
                                <p>Allow your loved one to maintain their happiness!</p>
                            </div>
                        </div>
                    </div>
                </div>

{% endblock content %}